<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center"> Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="input-group mb-3">
      <input type="text" class="form-control" formControlName="username" placeholder="Username"
             aria-label="Username">
    </div>
    <div *ngIf="username.touched && username.invalid">
      <div *ngIf="username.errors.required">
            <p> *Username required</p>
      </div>
      <div *ngIf="username.errors.maxlength">
        <p> *Username no more than 30 characters </p>
      </div>
      <div *ngIf="username.errors.minlength">
        <p> *Username no less than 6 characters</p>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="email" class="form-control" formControlName="email" placeholder="Email" aria-label="Email">
    </div>
    <div *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.required">
        <p> *Email required</p>
      </div>
      <div *ngIf="email.errors.pattern">
        <p> *Email not format</p>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="number" class="form-control" formControlName="phone" placeholder="Phone" aria-label="Phone">
    </div>
    <div *ngIf="phone.touched && phone.invalid">
      <div *ngIf="phone.errors.required">
        <p> *Phone required</p>
      </div>
      <div *ngIf="phone.errors.pattern">
        <p> *Phone not format</p>
      </div>
      <div *ngIf="phone.errors.maxlength">
        <p> *Phone not format</p>
      </div>
    </div>
    <div class="input-group mb-3">
      <textarea type="text" class="form-control" formControlName="address" placeholder="Address"
                aria-label="Address"></textarea>
    </div>
    <div *ngIf="address.touched && address.invalid">
      <div *ngIf="address.errors.required">
        <p> *Address required</p>
      </div>
      <div *ngIf="address.errors.maxlength">
        <p> *Address no more than 30 character</p>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" formControlName="password" placeholder="Password"
             aria-label="Password">
    </div>
    <div *ngIf="password.errors.required">
      <p> *Password required</p>
    </div>
    <div *ngIf="password.errors.maxlength">
      <p> *Password no more than 30 character</p>
    </div>
    <div *ngIf="password.errors.pattern">
      <p> *Password not format </p>
    </div>
    <div class="btn-group-vertical">
      <button class="btn btn-success">Register</button>
      <a class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>
